.advantages {
  @include section;
  display: flex;
  padding-top: 135px;
  padding-bottom: 155px;
  text-align: center;
  background-color: #faf4f0;
  background-image: url("../img/advantages-bg.jpg");

  &__content-wrapper {
    margin: auto;
  }

  &__title {
    @include indents-reset;
    @include title;
    margin-bottom: 50px;
    color: $dark-text;
  }

  &__list {
    @include list-reset;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 31.914%;
  }

  &__icon-wrapper {
    display: flex;
    width: 100%;
    height: 90px;
    margin-bottom: 25px;
  }

  &__icon {
    margin: auto;
  }

  &__item-title {
    @include indents-reset;
    margin-bottom: 20px;
    font-family: $lifehack;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: $dark-text;
  }

  &__desc {
    @include indents-reset;
  }
}
