.reviews {
  @include section;
  background-color: #5b5b5b;

  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    box-sizing: border-box;
    width: 25%;
    height: 50vh;
    min-height: 325px;
    color: $white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  &__content-wrap {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7.3%;
    padding-top: 50px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    opacity: 0;
    transition: 0.5s;

    &:hover {
      opacity: 1;
    }
  }

  &__author {
    @include indents-reset;
    margin-bottom: 15px;
    font-family: $gagalin;
    line-height: 28px;
  }

  &__quote {
    @include indents-reset;
    margin-bottom: 10px;
  }

  &__link {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@each $bg in (reviews1, reviews2, reviews3, reviews4, reviews5, reviews6, reviews7, reviews8) {
  .reviews__item--#{$bg} {
    background-image: url("../img/#{$bg}.jpg")
  }
}
