.arrow-wrapper {
  position: absolute;
  left: calc(50% - 25px);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  width: 50px;
  height: 34px;
}

.arrow {
  display: block;
  width: 30px;
  height: 14px;
  background-image: url("../img/icons/arrow-scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
}
