.delivery {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.delivery.webp {
  background-image: url("../img/delivery-bg.webp");
}

.delivery.no-webp {
  background-image: url("../img/delivery-bg.jpg");
}

.delivery__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.delivery__title {
  margin-bottom: 35px;
}

.delivery__form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__column {
  @include indents-reset;
  box-sizing: border-box;
  width: 48.936%;
  border: none;
}

.form__row {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;

  &--payment, &--buttons {
    justify-content: flex-start;
  }
}

.form__field-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  &--medium {
    width: 47.826%;
  }

  &--small {
    width: 21.739%;
  }
}

.form__label {
  color: #ffffff;
  cursor: pointer;

  &--radio {
    position: relative;
    padding-left: 25px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 8px);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ffffff;
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 25px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 8px);
      width: 15px;
      height: 15px;
      background-color: #ffffff;
    }
  }
}

.form__radio:checked ~ .form__label--radio::before {
  background-image: radial-gradient($orange, $orange 3px, #ffffff 4px);
}

.form__checkbox:checked ~ .form__label--checkbox::before {
  background-image: url("../img/tick.png");
  background-repeat: no-repeat;
  background-position: center;
}

.form__radio:focus ~ .form__label--radio::before {
  box-shadow: 0 0 5px 3px $orange;
}

.form__checkbox:focus ~ .form__label--checkbox::before {
  box-shadow: 0 0 5px 3px $orange;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 20px;
  padding-bottom: 9px;
  color: $black;
  border-radius: 5px;
  border: 1px solid #d1cfcb;

  &:focus {
    outline: none;
    border-color: $yellow;
    box-shadow: 0 0 0 1px $yellow;
  }

  &--comment {
    resize: none;
    height: 103px;
  }

  &--small {
    text-align: center;
  }

  &--error {
    border-color: red;
    box-shadow: 0 0 10px 4px rgba($color: #FF0000, $alpha: 0.5);

    &::placeholder {
      font-size: 10px;
    }
  }
}

.form__payment-wrapper {
  margin-right: 15px;
}

.form__submit {
  margin-right: 15px;
}

.form__reset {
  color: #ffffff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 960px) {
  .delivery__form {
    flex-direction: column;
    justify-content: flex-start;
    width: 63.513%;
  }

  .form__column {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .delivery__form {
    width: 100%;
    margin-bottom: -30px;
    overflow: hidden;
  }

  .delivery__title {
    text-align: center;
  }

  .form__field-wrapper {

    &--medium {
      width: 48.913%;
    }

    &--small {
      width: 31.521%;
    }

    &--floor {
      display: none;
    }
  }

  .form__row {

    &--comment {
      margin-bottom: 30px;
    }

    &--payment, &--call, &--buttons {
      justify-content: center;
      margin-bottom: 30px;
    }
  }
}

