.footer {
  padding: 10px 0;
  background-color: #000000;
  background-position: 0 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer.webp {
  background-image: url("../img/footer-bg.webp");
}

.footer.no-webp {
  background-image: url("../img/footer-bg.jpg");
}

.footer__container {
  display: flex;
}

.footer__address-wrapper {
  width: 50%;
}

.footer__social-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.footer__address {
  @include indents-reset;
  margin-bottom: 10px;
  color: #ffffff;
}

.footer__tel {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-weight: 700;
  color: #e45028;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(50% - 6px);
    width: 12px;
    height: 11px;
    background-image: url("../img/icons/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__address-wrapper {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer__social-wrapper {
    justify-content: center;
  }
}
