.main-nav__list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.main-nav__item {
  position: relative;
  margin-right: 15px;
  padding-right: 20px;
  font-size: 0.9286rem;
  line-height: 2.3;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 2px);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;
  }
}

.main-nav__link {
  @extend %link;
  color: inherit;
  transition: 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

.main-nav__toggle {
  display: none;
}

@media (max-width: 960px) {
  .main-nav {
    order: 2;
  }

  .main-nav__list {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba($color: $black, $alpha: 0.93);
    z-index: 1;
    transform: translateY(-100vh);
  }

  .main-nav__item {
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 8px;
    font-size: 1.5714rem;

    &:not(:last-child)::after {
      right: calc(50% - 2px);
      top: 100%;
    }
  }

  .main-nav__toggle {
    position: fixed;
    right: 25px;
    top: 38px;
    display: block;
    width: 25px;
    height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 4;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 25px;
      height: 4px;
      border-radius: 5px;
      background-color: #ffffff;
      transition: 0.4s;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 25px;
      height: 4px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 9px 0 0 #ffffff;
      transition: 0.4s;
    }

    &--active {
      &::after {
        transform-origin: 100% 50%;
        transform: rotate(45deg);
      }

      &::before {
        box-shadow: none;
        transform-origin: 100% 50%;
        transform: rotate(-45deg);
      }
    }

    &:focus {
      outline: none;
    }
  }

  .main-nav__list--active {
    position: fixed;
    animation-name: show-menu;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    z-index: 3;
  }
}

@media (max-width: 768px) {
  .main-nav__toggle {
    right: 15px;
  }
}

@keyframes show-menu {
  0% {
    transform: translateY(-100vh);
  }

  30% {
    transform: translateY(10vh);
  }

  50% {
    transform: translateY(-10vh);
  }

  70% {
    transform: translateY(5vh);
  }

  90% {
    transform: translateY(-5vh);
  }

  100% {
    transform: translateY(0);
  }
}
