.reviews {
  position: relative;
  background-color: #5e5e5e;
}

.reviews__list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  box-sizing: border-box;
  width: 25%;
  height: 50%;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@each $bg in (reviews1, reviews2, reviews3, reviews4, reviews5, reviews6, reviews7, reviews8) {
  .reviews__item--#{$bg}.webp {
    background-image: url("../img/#{$bg}.webp")
  }
}

@each $bg in (reviews1, reviews2, reviews3, reviews4, reviews5, reviews6, reviews7, reviews8) {
  .reviews__item--#{$bg}.no-webp {
    background-image: url("../img/#{$bg}.jpg")
  }
}

.reviews__hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 8%;
  background-color: rgba($color: #000000, $alpha: 0.6);
  opacity: 0;
  transition: 0.5s;

  &:hover {
    opacity: 1;
  }
}

.reviews__item-title {
  margin-bottom: 20px;
}

.reviews__text {
  @include indents-reset;
  max-height: 55%;
  margin-bottom: 16px;
  line-height: 1.71;
  font-weight: 300;
  overflow: hidden;
}

.reviews__link {
  align-self: flex-start;
}

.reviews__modal-wrapper {
  position: fixed;
  left: 0vw;
  top: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: $black, $alpha: 0.93);
  z-index: 5;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
}

.reviews__modal {
  position: relative;
  box-sizing: border-box;
  width: 48.95%;
  max-width: 460px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  z-index: 5;
}

.reviews__close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 21px;
    height: 4px;
    border-radius: 5px;
    background-color: #eb8262;
    transform-origin: 0 0;
    transform: rotate(-45deg);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 4px;
    border-radius: 5px;
    background-color: #eb8262;
    transform-origin: 0 100%;
    transform: rotate(45deg);
  }
}

.reviews__modal-wrapper--show {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 960px) {
  .reviews__item {
    width: 50%;
    height: 25%;
    text-align: center;
  }

  .reviews__hidden {
    align-items: center;
  }

  .reviews__item-title {
    margin-bottom: 10px;
  }

  .reviews__link {
    align-self: center;
  }
}

@media (max-width: 768px) {
  .reviews__text {
    display: none;
  }

  .reviews__modal {
    width: 100%;
    max-width: calc(100% - 20px);
  }
}

.show-review {
  opacity: 1;
}
