.title {
  @include indents-reset;
  font-family: $gagalin;
  font-size: 5.1428rem;
  line-height: 1.18;
  font-weight: 500;
  color: $yellow;

  &--black {
    color: $black;
  }

  &--white {
    color: #ffffff;
  }

  &--medium {
    font-size: 2.8571rem;
    line-height: 1.6;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3.5714rem;
    line-height: 1.2;
  }
}
