.video.webp {
  background-image: url("../img/video_bg.webp");
}

.video.no-webp {
  background-image: url("../img/video_bg.jpg");
}

.video__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video__title {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .video__title {
    padding: 0 28.5%;
    text-align: center;
  }
}

