.arrow {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 40px;
  width: 30px;
  height: 15px;
  margin-left: -25px;
  border-radius: 50%;
  background-image: url("../img/icons/arrow-scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
}