.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;

  &__logo {
    flex-shrink: 0;
    margin-right: 7.4%;
  }

  &__nav {
    margin-top: -8px;
  }

  &__link {
    margin-left: auto;
    margin-top: -8px;
  }
}
