.intro {
  @include section;
  position: relative;
  display: flex;
  background-color: #0b0e0e;
  background-image: url("../img/intro-bg.jpg");

  &__content-wrap {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  &__img-wrap {
    box-sizing: border-box;
    width: 460px;
    padding-left: 20px;
  }

  &__lead-wrap {
    box-sizing: border-box;
    width: 460px;
    padding-top: 130px;
  }

  &__text {
    font-family: $lifehack;
    font-size: 65px;
    line-height: 60px;
    font-weight: 500;
    color: $white;
  }

  &__title {
    @include title;
    display: inline-block;
    margin-bottom: 35px;
  }

  &__arrow {
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -15px;
    animation-name: arrow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
}

@keyframes arrow {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}
