.slogan {
    display: flex;
    justify-content: space-between;


    &__img-wrap {
        box-sizing: border-box;
        width: 460px;
        padding-left: 20px;
    }

    &__text-wrap {
        box-sizing: border-box;
        width: 460px;
        padding-top: 130px;
    }

    &__text {
        font-family: $lifehack;
        font-size: 65px;
        line-height: 60px;
        font-weight: 500;
    }

    &__title {
        @include title;
        display: inline-block;
        margin-bottom: 35px;
    }
}