@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin/gagalin-regular.woff") format("woff"), url("../fonts/Gagalin/gagalin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lifehack";
  src: url("../fonts/lifehackmedium.woff") format("woff"), url("../fonts/lifehackmedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/ubuntu-light.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/ubuntu-regular.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/ubuntu-medium.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/ubuntu-b.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-b.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

body {
  position: relative;
  margin: 0;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #2f3234; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px; }

.intro {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #0b0e0e;
  background-image: url("../img/intro-bg.jpg"); }
  .intro__content-wrap {
    display: flex;
    justify-content: space-between; }
  .intro__img-wrap {
    box-sizing: border-box;
    width: 460px;
    padding-left: 20px; }
  .intro__lead-wrap {
    box-sizing: border-box;
    width: 460px;
    padding-top: 130px; }
  .intro__text {
    font-family: "Lifehack", "Arial", sans-serif;
    font-size: 65px;
    line-height: 60px;
    font-weight: 500;
    color: #ffffff; }
  .intro__title {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 72px;
    line-height: 64px;
    font-weight: 500;
    color: #f9b43b;
    display: inline-block;
    margin-bottom: 35px; }
  .intro__arrow {
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -15px;
    -webkit-animation-name: arrow;
            animation-name: arrow;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

@keyframes arrow {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px; }
  .header__logo {
    flex-shrink: 0;
    margin-right: 7.4%; }
  .header__nav {
    margin-top: -8px; }
  .header__link {
    margin-left: auto;
    margin-top: -8px; }

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; }

.nav__item:not(:last-child) {
  position: relative;
  margin-right: 15px;
  padding-right: 20px; }
  .nav__item:not(:last-child):not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: #ffffff; }
  .nav__item:not(:last-child):last-child {
    padding-right: 0; }

.nav__link {
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.2s; }
  .nav__link:hover {
    text-decoration: underline; }
  .nav__link:active {
    color: rgba(255, 255, 255, 0.5); }

.button {
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.2s;
  display: block;
  padding: 2px 14px;
  text-align: center;
  border-radius: 5px;
  background-color: #e45028; }
  .button:hover {
    background-color: #c1401e; }
  .button:active {
    color: rgba(255, 255, 255, 0.5); }
  .button--grey {
    background-color: #2f3234; }
    .button--grey:hover {
      background-color: #1f2122; }

.toggle {
  position: fixed;
  right: 3%;
  top: 90px;
  z-index: 1; }
  .toggle__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .toggle__item {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin-bottom: 5px; }
  .toggle__button {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 50%; }
    .toggle__button::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      margin-left: -3px;
      border-radius: 50%;
      background-color: #ffffff; }
    .toggle__button--active, .toggle__button:hover {
      border: 1px solid #ffffff; }

.arrow {
  display: block;
  width: 30px;
  height: 15px;
  background-image: url("../img/icons/arrow-scroll.svg");
  background-repeat: no-repeat;
  background-position: center; }

.advantages {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #faf4f0;
  background-image: url("../img/advantages-bg.jpg"); }
  .advantages__title {
    margin: 0;
    padding: 0;
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 72px;
    line-height: 64px;
    font-weight: 500;
    color: #f9b43b;
    margin-bottom: 50px;
    color: #2f3234; }
  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .advantages__item {
    width: 31.914%; }
  .advantages__icon-wrapper {
    display: flex;
    width: 100%;
    height: 90px;
    margin-bottom: 25px; }
  .advantages__icon {
    margin: auto; }
  .advantages__item-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-family: "Lifehack", "Arial", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #2f3234; }
  .advantages__desc {
    margin: 0;
    padding: 0; }

.reviews {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #5b5b5b; }
  .reviews__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
  .reviews__item {
    position: relative;
    box-sizing: border-box;
    width: 25%;
    height: 50vh;
    min-height: 325px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden; }
  .reviews__content-wrap {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7%;
    padding-top: 50px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.5s; }
    .reviews__content-wrap:hover {
      opacity: 1; }
  .reviews__author {
    margin: 0;
    padding: 0;
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 15px; }
  .reviews__quote {
    margin: 0;
    padding: 0;
    margin-bottom: 10px; }
  .reviews__link {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px; }

.reviews__item--reviews1 {
  background-image: url("../img/reviews1.jpg"); }

.reviews__item--reviews2 {
  background-image: url("../img/reviews2.jpg"); }

.reviews__item--reviews3 {
  background-image: url("../img/reviews3.jpg"); }

.reviews__item--reviews4 {
  background-image: url("../img/reviews4.jpg"); }

.reviews__item--reviews5 {
  background-image: url("../img/reviews5.jpg"); }

.reviews__item--reviews6 {
  background-image: url("../img/reviews6.jpg"); }

.reviews__item--reviews7 {
  background-image: url("../img/reviews7.jpg"); }

.reviews__item--reviews8 {
  background-image: url("../img/reviews8.jpg"); }

.team {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #0b0e0e;
  background-image: url("../img/team-bg.jpg"); }
  .team__content-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    height: 100%;
    margin-left: calc(50% + 10px);
    padding-right: 10px;
    padding-left: 10.6%;
    background-color: rgba(47, 50, 52, 0.93); }
  .team__title {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 72px;
    line-height: 64px;
    font-weight: 500;
    color: #f9b43b;
    margin: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: 50px; }
  .team__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: auto; }
  .team__item {
    color: #ffffff; }
  .team__item-title {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    position: relative;
    padding-left: 20px;
    cursor: pointer; }
    .team__item-title::before {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 3px);
      width: 0;
      height: 0;
      border: 7px solid #f9b43b;
      border-bottom-width: 0;
      border-left-color: transparent;
      border-right-color: transparent;
      border-left-width: 5px;
      border-right-width: 5px; }
  .team__hidden {
    box-sizing: border-box;
    display: none;
    padding-left: 20px; }
  .team__img-wrap {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden; }
  .team__item-subtitle {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-weight: 700; }
  .team__desc {
    margin: 0;
    padding: 0; }

.team__item--active .team__item-title::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.team__item--active .team__hidden {
  display: flex; }


  .intro.webp {
    background-image: url("../img/intro-bg.webp");
  }

  .intro.no-webp {
    background-image: url("../img/intro-bg.jpg");
  }
/*# sourceMappingURL=style.css.map */
