@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin/gagalin-regular.woff") format("woff"), url("../fonts/Gagalin/gagalin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Lifehack";
  src: url("../fonts/lifehackmedium.woff") format("woff"), url("../fonts/lifehackmedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/ubuntu-light.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/ubuntu-regular.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/ubuntu-medium.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/ubuntu-b.woff") format("woff"), url("../fonts/Ubuntu/ubuntu-b.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

body {
  position: relative;
  margin: 0;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #2f3234; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px; }

.intro {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #0b0e0e;
  background-image: url("../img/intro-bg.jpg"); }

.header {
  display: flex;
  align-items: center;
  padding-top: 11px; }
  .header__logo {
    flex-shrink: 0;
    margin-right: 10px; }
  .header__nav {
    margin-left: auto;
    margin-top: -8px; }

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: baseline; }

.nav__item:not(:last-child) {
  position: relative;
  margin-right: 15px;
  padding-right: 20px; }
  .nav__item:not(:last-child):not(:nth-last-child(2))::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: #ffffff; }
  .nav__item:not(:last-child):nth-last-child(2) {
    padding-right: 0; }
  .nav__item:not(:last-child)--button {
    margin-right: 0; }

.nav__link {
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.2s; }
  .nav__link:hover {
    text-decoration: underline; }
  .nav__link:active {
    color: rgba(255, 255, 255, 0.5); }

.button {
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.2s;
  display: block;
  padding: 2px 14px;
  text-align: center;
  border-radius: 5px;
  background-color: #e45028; }
  .button:hover {
    background-color: #c1401e; }
  .button:active {
    color: rgba(255, 255, 255, 0.5); }
  .button--grey {
    background-color: #2f3234; }
    .button--grey:hover {
      background-color: #1f2122; }

.slogan {
  display: flex;
  justify-content: space-between; }
  .slogan__img-wrap {
    box-sizing: border-box;
    width: 460px;
    padding-left: 20px; }
  .slogan__text-wrap {
    box-sizing: border-box;
    width: 460px;
    padding-top: 130px; }
  .slogan__text {
    font-family: "Lifehack", "Arial", sans-serif;
    font-size: 65px;
    line-height: 60px;
    font-weight: 500;
    color: #ffffff; }
  .slogan__title {
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 72px;
    line-height: 64px;
    font-weight: 500;
    color: #f9b43b;
    display: inline-block;
    margin-bottom: 35px; }

.toggle {
  position: fixed;
  right: 3%;
  top: 90px;
  z-index: 1; }
  .toggle__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .toggle__item {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin-bottom: 5px; }
  .toggle__button {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 50%; }
    .toggle__button::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      margin-left: -3px;
      border-radius: 50%;
      background-color: #ffffff; }
    .toggle__button--active, .toggle__button:hover {
      border: 1px solid #ffffff; }

.arrow {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 40px;
  width: 30px;
  height: 15px;
  margin-left: -25px;
  border-radius: 50%;
  background-image: url("../img/icons/arrow-scroll.svg");
  background-repeat: no-repeat;
  background-position: center; }

.advantages {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  padding-top: 135px;
  padding-bottom: 155px;
  text-align: center;
  background-color: #faf4f0;
  background-image: url("../img/advantages-bg.jpg"); }
  .advantages__content-wrapper {
    margin: auto; }
  .advantages__title {
    margin: 0;
    padding: 0;
    font-family: "Gagalin", "Arial", sans-serif;
    font-size: 72px;
    line-height: 64px;
    font-weight: 500;
    color: #f9b43b;
    margin-bottom: 50px;
    color: #2f3234; }
  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .advantages__item {
    width: 31.914%; }
  .advantages__icon-wrapper {
    display: flex;
    width: 100%;
    height: 90px;
    margin-bottom: 25px; }
  .advantages__icon {
    margin: auto; }
  .advantages__item-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-family: "Lifehack", "Arial", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #2f3234; }
  .advantages__desc {
    margin: 0;
    padding: 0; }

.reviews {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #5b5b5b; }
  .reviews__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
  .reviews__item {
    position: relative;
    box-sizing: border-box;
    width: 25%;
    height: 50vh;
    min-height: 325px;
    color: #ffffff;
    overflow: hidden; }
  .reviews__img {
    width: 100%; }
  .reviews__content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 50px 8.33%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.4s; }
  .reviews__author {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-family: "Gagalin", "Arial", sans-serif;
    line-height: 28px; }
  .reviews__quote {
    margin: 0;
    padding: 0;
    margin-bottom: 10px; }
  .reviews__link {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px; }

.reviews__item:hover .reviews__content-wrapper {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
