.advantages {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #f3eeea;
}

.advantages.webp {
  background-image: url("../img/advantages-bg.webp");
}

.advantages.no-webp {
  background-image: url("../img/advantages-bg.jpg");
}

.advantages__title {
  margin-bottom: 35px;
}

.advantages__list {
  @extend %list-reset;
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 33%;
}

.advantages__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  margin-bottom: 25px;
}

.advantages__item-title {
  @include indents-reset;
  margin-bottom: 20px;
  font-family: $lifehack;
  font-size: 1.7143rem;
  line-height: 1.16;
  font-weight: 500;
  color: $black;
}

.advantages__desc {
  @include indents-reset;
  line-height: 1.7;
  font-weight: 300;
  color: $black;
}

@media (max-width: 768px) {
  .advantages__title {
    margin-bottom: 20px;
  }

  .advantages__list {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: -35px;
    overflow: hidden;
    text-align: left;
  }

  .advantages__item {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
  }

  .advantages__img-wrapper {
    flex-shrink: 0;
    width: 131px;
    margin-bottom: 0;
  }

  .advantages__item-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) {
  .advantages__title {
    margin-bottom: 10px;
  }

  .advantages__item {
    margin-bottom: 15px;
  }

  .advantages__item-title {
    font-size: 1.5em;
  }

  .advantages__desc {
    font-size: 0.9em;
  }
}
