.button {
  @extend %link;
  display: inline-block;
  padding: 3px 15px;
  font-size: 0.9286rem;
  line-height: 2.3;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: $orange;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: #c1401e;
  }

  &--grey {
    background-color: $black;

    &:hover {
      background-color: #1f2122;
    }
  }
}
