.section {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media (max-width: 960px) {
  .section {
    height: 100%;
  }
}
