.team {
  background-color: #6b6b6b;
}

.team.webp {
  background-image: url("../img/team-bg.webp");
}

.team.no-webp {
  background-image: url("../img/team-bg.jpg");
}

.team__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: calc(50% - 10px);
  height: 100%;
  margin-left: calc(50% + 10px);
  padding-left: 10%;
  background-color: rgba($color: $black, $alpha: 0.93);
}

.team__title {
  margin-bottom: 30px;
}

.team__list {
  @extend %list-reset;
  color: #ffffff;
}

.team__item {
  margin-bottom: 25px;
}

.team__item-title {
  display: block;
  position: relative;
  padding-left: 20px;
  transition: 0.4s;

  &:hover {
    color: $yellow;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
    width: 0;
    height: 0;
    border: 6px solid $yellow;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;
    border-left-width: 5px;
    border-right-width: 5px;
  }
}

.team__hidden {
  display: flex;
  height: 0;
  overflow: hidden;
  padding-left: 20px;
  line-height: 1.71;
}

.team__img-wrapper {
  flex-shrink: 0;
  align-self: flex-start;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.team__hidden-title {
  @include indents-reset;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.team__desc {
  @include indents-reset;
}

.team__item--active {

  .team__hidden {
    height: auto;
  }

  .team__item-title {
    margin-bottom: 10px;
    color: $yellow;

    &::before {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 960px) {
  .team__content-wrapper {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding: 0 25.83%;
    align-items: center;
  }

  .team__list {
    text-align: center;
  }

  .team__item-title {
    position: static;
    padding-left: 0;
    font-size: 1.7143rem;
    line-height: 1.166;

    &::before {
      content: "";
      display: inline-block;
      position: static;
      margin-right: 10px;
      transform-origin: 50% 0;
    }
  }

  .team__hidden {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .team__img-wrapper {
    flex-shrink: 0;
    align-self: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .team__content-wrapper {
    padding: 0 10.86%;
  }
}
